@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This sample website is a CRUD website that allows a user to manipulate data in SQL Tables 
    and view graphs of the data. To view and manipulate the data please login.</p>
</div>
