@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1> Class data</h1>
    <h2>Manage data for each class and semester</h2>

    <a class="nav-link text-dark" asp-area="" asp-controller="Class" asp-action="ClassCreate">
        <input type="button" class="btn btn-primary" value="Create" />
    </a>
    <p>Come on work dammit</p>
</div>