@{
    ViewData["Title"] = "Create";
}

<div class="text-center" id="object">
    <h1 class="display-4">Add new Teacher</h1>
    <form method="post" action="/Staff/TeacherCreate">
        <label for="fname">First Name</label><br>
        <input type="text" id="fname" name="fname" />
        <br />
        <label for="lname">Last Name</label><br>
        <input type="text" id="lname" name="lname" />
        <br />
        <label>Expertise</label><br>
        <input type="text" id="expertise" name="expertise" />
        <br />
        <label for="age">Age</label><br>
        <input type="text" id="age" name="age" />
        <br />
        <label>Date Of Hire</label><br>
        <input type="text" id="dateOfHire" name="dateOfHire" />
        <br />
        <input type="submit" value="Create" />

        @section Scripts
    {
            <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
            <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script>
                $(function () {
                    $('#dateOfHire').datepicker();
                });
            </script>
        }
    </form>

</div>
